header {
    color: black;
    font-size: 40px;
    text-align: center;
}
h2 {
    text-align:center;
    color: black;
}
body {
    background-color: rgb(212, 216, 219);
}

p {
    text-align:center;
    color: black;
    font-size: large;
}

ul {
    list-style-type: square;
    justify-self: right;
    margin-left: 3em;
    margin-right: 3em;
    display: block;
    border: black;
    background-color: lightgray;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    background-color: white;

}

footer {
    text-align:right; 
}
